[*.cs]
indent_style = space
indent_size = 4


# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true


# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
