# Build results
bin/
obj/
Debug/
Release/

# Ignore all bin and obj folders recursively
**/bin/
**/obj/


# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

*.cache

# Temporary files
*.tmp
*.temp
*.bak
*.backup

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml

# Other IDE settings
.idea/
*.swp
*.dbmdl
*.jfm

# Publish outputs
publish/

# Ignore Visual Studio folder
.vs/

# Ignore zip files
*.zip
